<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>recovery page</title>
</head>
<body>
  <h1>welcome to send-mail page</h1>

  <%- include("partials/nav")%>



  <form action="/sendmail" method="post">
    <input type="email" name="email" placeholder="enter registered email">
    <button>send mail</button>
  </form>

  

  
</body>
</html>